.description {
  display: flex;
  gap: 30px;
}
.overview {
  margin: 0;
}
.thumb_img {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  gap: 15px;
}
.status {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.look_it {
  color: aliceblue;
  background-color: blueviolet;
}
.title {
  text-align: center;
  padding-bottom: 20px;
}
