.description {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .description {
    flex-direction: row;
  }}
.descriptionMovie{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.overview,.genres {
  margin: 0;
}
.thumb_img {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  gap: 15px;
}
.status {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.look_it {
  color: aliceblue;
  background-color: blueviolet;
}
.title {
  text-align: center;
  padding-bottom: 20px;
}
.subTitledescriptionMovie{
  padding-bottom: 10px;
}
