.section_selected {
  padding-top: 80px;
}

.description {
  display: flex;
  gap: 25px;
}
.overview {
  margin: 0;
}
.thumb_img {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  gap: 15px;
}
.status {
  display: flex;
  justify-content: space-between;
  
}
.nav{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.look_it{
    color:aliceblue;
    background-color: blueviolet;
}
.title{
  text-align: center;
  padding-bottom: 20px;
}
