.buttonNav {
  color: inherit;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 140px;
  border: none;
  border-radius: 15px;
  color: inherit;
  font-size: inherit;
  text-align: center;
  background-color: rgb(97, 130, 239);
  transition-property: box-shadow, transform;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.buttonNav:hover{
    transform: scale(1.05);
    box-shadow: 1px 2px 1px 0px #2e2f4214, 1px 3px 15px 3px #422e3a29,
      0px 1px 6px 1px #2e2f4214;
}
