.section_cast {
  padding-top: 20px;
  padding-bottom: 20px;
}
.title {
  text-align: center;
  padding-bottom: 20px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}
.profile {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .profile {
flex-direction: column;

  }}

  .imgBox{
    width: 150px;
    object-fit: cover;
  }

 .descriptionProfile{
  font-size: 16px;
 }
