.heder {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  align-items: center;
  display: flex;
  background-color: rgb(2, 8, 41);
}
nav {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  nav {
    justify-content: flex-start;
    gap: 30px;
  }
}
