.form {
  padding-bottom: 20px;
  text-align: center;
}
.input {
  padding: 10px;
  border: 1px solid blueviolet;
  border-radius: 10px;

  transition-property: box-shadow;
  transition-duration: 200ms;
  transition-timing-function: linear;
}
input:hover,
input:focus {
  box-shadow: 1px 2px 1px 0px #4c509714, 1px 3px 15px 3px #de1f9229,
    0px 1px 6px 1px #35386e14;
}
