.section_search {
  padding-top: 80px;
}
.thumb_img {
  width: 300px;
}
.title {
  text-align: center;
  padding-bottom: 30px;
}
.thumb_img {
  overflow: hidden;
  border-radius: 10px;
}

.link {
  transition-property: box-shadow;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.link:hover {
  box-shadow: 1px 2px 1px 0px #292a3314, 1px 3px 15px 3px #17101429,
    0px 1px 6px 6px #0f0f1114;
}
