@import-normalize;
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1 {
  text-align: center;
  padding-bottom: 30px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
input,
textarea {
  outline: none;
}
section{
  padding-bottom: 50px;
}

.list_movies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.navLink {
  color: antiquewhite;
}
.active {
  color: rgb(156, 241, 91);
}
.bacdrop {
  min-height: 110svh;
  background-image: 
  linear-gradient(
      rgba(109, 116, 249, 0.4),
      rgba(20, 24, 95, 0.9)
    ),
    url(./img/movie-background-collage-min_375-min.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 50%;
  background-color: rgba(246, 95, 95, 0.682);
}
